{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    	<!-- Basic: Hard code url -->
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->

        <!-- Not using hard code url -->
		<!-- <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li> -->

		<!-- Using namespacing -->
		<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
